# Segmenting and Clustering Neighborhoods in Toronto

Here starts the "Segmenting and Clustering Neighborhoods in Toronto" Project

## Exploration

### Scraping data from WikiPedia

Importing requested modules

In [23]:
import requests
import pandas as pd

Reading the table from wikipedia page

In [24]:
# Webpage url                                                                                                               
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

# Extract tables
dfs = pd.read_html(url)

# Get first table                                                                                                           
df = dfs[0]

Removing "Not assigned" rows

In [ ]:
# Remove Not Assigned
indexNames= df[df.Borough == 'Not assigned'].index
df.drop(indexNames,inplace=True)
df.reset_index(inplace=True)
df.drop(columns='index',inplace=True)

Let's have a look at the table

df.shape

In [25]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [15]:
df.describe()

       Postal Code     Borough Neighborhood
count          103         103          103
unique         103          10           99
top            M5X  North York    Downsview
freq             1          24            4

## Segmentation

## Clustering